apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  maxSize: 100GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-path-provisioner
provisioning:
  diskSelector:
    match: disk.model == '${model}' && disk.serial == '${serial}'
  minSize: ${minSize}
  maxSize: ${maxSize}
